html, body, div, section, ul, li, input, button, td, tr, table, span, button, article, h1, h2, h3, p {
margin: 0px;
padding: 0px;
border: 0px;
}


#home-banner {
  background-image: url("https://i.ytimg.com/vi/s5NIalcRcKo/maxresdefault.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  height: 500px;
  width: 100%;
  display: block;
}

#content2{
  height:400px;
  background:yellow;
  width:100%;
}

#content3{
  height:400px;
  background:red;
  width:100%;
}



