html, body, div, section, ul, li, input, button, td, tr, table, span, button, article, h1, h2, h3, p {
margin: 0px;
padding: 0px;
border: 0px;
}
#profileheader{
    text-align: center;
}
.scroll-down{

    background-color: #319190;
    width: 110px;
    height:10vh;
    display: block;
    text-align: center;
    position: absolute;

    transition: 0.1s;
    top:90%;
    bottom: 10px;    right: 5%;

}

.scroll-down .glyphicon {
    color: #FFFFFF;
    font-size: 30px;
    padding-top: 20px;

}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #ffffff; /* old IE */
    background-color: #ffffff; /* Modern Browsers */
}

.blackhr{

    border: none;
    height: 1px;
    /* Set the hr color */
    color: slategrey; /* old IE */
    background-color: slategrey; /* Modern Browsers */
}

.generalheader{
    font-size: 50px;
    font-weight: bold;

}

.generalheader2{
    font-size: 40px;
    font-weight: bold;

}

h4{
    font-weight: bold;
}

h3{
    font-weight: bold;
}

.hcustom{

    font-size: 40px;
}
.pcustom{

    font-size: 30px;
}


/*//////////////////////////NAVBAR/////////////////////////////////////////////*/


.navbar  { border: 0px; background-color: #222222; position:fixed; top: 10px;  right: 5%; width: 110px; z-index: 999; }
.navbar .navbar-collapse { padding: 0px; max-height: none; }
.navbar .navbar-nav { float: none; }
.navbar-nav { margin: 0px; }
.navbar .nav > li { display: block; float: none; height: 80px; }
.navbar .nav > li a { display: block;  height: 80px; text-align: center; padding-top: 30px; font-weight: 600; color: #FFFFFF; }
.navbar .nav > li a:hover, .navbar .nav > li a:focus { color: #999999; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background: #22A39F; color: #FFFFFF; }
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar { background: #222222; }

.fixed .navbar  { position: fixed; top: 60px; }

/*.navbar  { left: 0px; width: 100%; }*/
/*.navbar .nav > li { height: 60px; }*/
/*.navbar .nav > li a { height: 60px; text-align: center; padding-top: 20px; font-weight: 600; color: #FFFFFF; }*/

/*.fixed .navbar { top: 0px; }*/


.sidenav{

    right: 0px;
    transition: 0.1s;
    padding: 20px;
    width: 100px;
    top:10px;
    height: 100px;
    text-decoration: none;
    font-size: 30px;
    margin-right: -200px;


}
#slider {
    right: 0px;
    transition: 0.1s;
    padding: 20px;
    width: 100px;
    top:10px;
    height: 100px;
    text-decoration: none;
    font-size: 30px;
    margin-right: -200px;
    border-radius: 0 150px 150px 0;
    position: fixed;

}


#slider a:hover {
    right: 10px;
}

#about {

    border-radius: 0 5px 5px 0;
    padding-right: 100px;
    top: 40px;
    color: #474e5d;
    text-decoration-color: black;
    background-color: #319190;
    padding-bottom: 10px;
    padding-top: 10px;
}

#blog {
    border-radius: 0 5px 5px 0;
    padding-right: 100px;
    text-decoration-color: black;
    top: 100px;
    color: #474e5d;
    padding-bottom: 10px;
    background-color: #319190;
}

#projects {
    border-radius: 0 5px 5px 0;
padding-right: 100px;
    text-decoration-color: black;
    top: 160px;
    color: #474e5d;
    padding-bottom: 10px;
    background-color: #319190;
}

#contact {
    border-radius: 0 5px 5px 0;
    padding-right: 100px;
    color: #474e5d;
    text-decoration-color: black;
    top: 220px;
    padding-bottom: 10px;
    background-color: #319190
}


.margin {
    margin-bottom: 10px;
margin-top: 10px}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;

}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;

}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {

 padding-bottom: 0;
}


#home-banner {
  background-image: url(../img/mountainlandscape.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  height: 100vh;
  width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#headertxt{
font-size: 30px;
    text-align:center;
    font-weight: bold;
    color: #f8f8f8;
    opacity: 100;

}
#profile1{
    padding-right:60vh;

}

#profile2{
    padding-right:30vh;

}

.generaltxt{
 font-family: 'Open Sans', sans-serif !important;
}

#name{

    font-size: 60px;
    font-weight: bold;
    color: #f8f8f8;
    opacity: 100;
}

.text_over_image {
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    height:120px;
    background: none repeat scroll 0 0 #52505b;
    opacity: 0.8;
    top:0;
    left:0;
    position: absolute;
}



/*#content2{*/
    /*background-image: url("http://www.printmywallpaper.co.uk/wp-content/uploads/2016/02/0485-Glasgow-waterside.jpg");*/
    /*background-size:cover;*/
    /*background-repeat:no-repeat;*/
    /*height: 500px;*/
    /*width: 100%;*/
    /*display: block;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/

#content3{
    background-image: url(../img/mountainlandscape.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height: 500px;
    width: 100%;
    display: block;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.imagecontainer{
    background-image: url(../img/mountainlandscape.jpg);
    background-size:cover;
    background-repeat:no-repeat;

    width: 100%;
    display: block;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*RIGGG SECITON//////////////////////////////////////////////////*/



.rig-cell {

    margin:0 auto;
    padding:0;
    font-size:0;
    list-style:none;

}
.rig-img {
    display: inline-block;
    width:auto;
    vertical-align:middle;
    /*box-sizing:border-box;*/
    margin:0;
    padding:10px;

}



.rig-cell {



    display:block;
    position: relative;
    overflow:hidden;

}


.rig-cell {

    width: auto;
    height: auto;

    transform:scale(1);
    transition:all 1s;
}

.rig-cell:hover .rig-img {
    transform:scale(1.05);
}


.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #319190  center 20%;
    background-size:40px 40px;
    opacity:0;
    filter:alpha(opacity=0);
    transition:all 0.6s;
}
.rig-cell:hover .rig-overlay {
    opacity:0.8;
}


.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
.rig-cell:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}




@keyframes wiggle {
    0% {
        padding-top: 20px;
    }

    50% {
        padding-top: 28px;
    }

    100% {
        padding-top: 20px;
    }
}
